<div class='container'>
  <h1>Trang chủ</h1>
  <p><a href='/products'>Xem tất cả thuốc</a></p>

  <h2>Thuốc nổi bật</h2>
  <ul>
    <% (featuredProducts || []).forEach(function(item) { %>
      <li><a href='/products/<%= item.id %>'><%= item.name || ('Thuốc #' + item.id) %></a> - <%= item.price || 0 %></li>
    <% }) %>
  </ul>

  <h2>Thuốc mới</h2>
  <ul>
    <% (newestProducts || []).forEach(function(item) { %>
      <li><a href='/products/<%= item.id %>'><%= item.name || ('Thuốc #' + item.id) %></a> - <%= item.price || 0 %></li>
    <% }) %>
  </ul>

  <h2>Khuyến mãi</h2>
  <ul>
    <% (promotionProducts || []).forEach(function(item) { %>
      <li><a href='/products/<%= item.id %>'><%= item.name || ('Thuốc #' + item.id) %></a> - <%= item.price || 0 %></li>
    <% }) %>
  </ul>
</div>
